@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@400;500;600&display=swap');

.tag{
    margin-right: 8px;
}
.pl-0{
    padding-left: 0 !important;
}
.project-items{
    text-align: left !important;
    margin: 22px 6px;
  }
  .project-items h4{
    font-size: 28px;
    margin-top: 8px;
  }
  .project-items p{
    font-size: 16px;
  }
.projectLink{
    color: #fff;
    text-decoration: none;
}
.projectLink:hover{
    text-decoration: underline;
    border-bottom: 1px solid #ECEBEB;
    color: #fff;
}
.project-img{
    border-radius: 2px;
    box-shadow: 10px 10px 5px -7px rgba(255,255,255,0.16);
    -webkit-box-shadow: 10px 10px 5px -7px rgba(255,255,255,0.16);
    -moz-box-shadow: 10px 10px 5px -7px rgba(255,255,255,0.16);
    transition: all .2s ease-in-out;
}
.project-img:hover{
    transform: scale(1.03);
    transition: transform .4s ease-in-out;
    box-shadow: 10px 10px 5px -7px rgba(255,255,255,0.23);
    -webkit-box-shadow: 10px 10px 5px -7px rgba(255,255,255,0.23);
    -moz-box-shadow: 10px 10px 5px -7px rgba(255,255,255,0.23);
}

.fadeInRight{
    animation: fadeInRight 1s ease;
}
.fadeInLeft{
    animation: fadeInLeft 1s ease;
}
.fadeInUp{
    animation: fadeInUp 1s ease;
}
.fadeInDown{
    animation: fadeInDown 1s ease;
}
.slideBoxAnim{
    animation: slideBox 3s ease;
  }
@keyframes slideBox{
    0%{
        opacity: 0;
        width: 50%;
    }
    100%{
        opacity: 1;
        width: 100%;
    }
}
@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateX(-40px);
       
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes fadeInUp{
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes fadeInLeft{
    0%{
        opacity: 0;
        transform: translateX(40px);
       
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
